
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>ĐƠN HÀNG CỦA QUÝ KHÁCH ĐÃ ĐƯỢC GHI NHẬN, VUI LÒNG GIỮ MÁY ĐỂ CHÚNG TÔI LIÊN HỆ XÁC NHẬN</h2>
<p>
    @Html.ActionLink("TRỞ VỀ TRANG CHỦ","Index", "BookStore")
</p>
