@model IEnumerable<MvcBookStore.Models.CHUDE>
    <p class="lead"> CHỦ ĐỀ SÁCH</p>
<div class="list-group">

</div>
@foreach (var item in Model)
{
    <a href="@Url.Action("SPTheochude","BookStore",new { id = item.MaCD})" class="list-group-item">
        @item.TenChuDe
    </a>
}
