@using MvcBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row">
    
</div>
<h2 style="text-align:center;color:red">SÁCH MỚI</h2>

@foreach (var sach in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="@Url.Action("Details","BookStore",new { id = sach.Masach})">
                <img alt="@sach.Tensach" src="~/Hinhsanpham/@sach.Anhbia" width="200" />
                </a>
                <div>
                    <br/>
                    <h4 style="text-align:center">
                        @sach.Tensach
                    </h4>
                    <p></p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            
        </div>
    </div>
   
}
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;

